@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "My Work";
}

<link rel="stylesheet" href="/css/Pages.css">

<body>
    <header>
        <h1>My Work</h1>
    </header>
    <main>
        <div class="container">
            <div class="product-grid">
                <div class="product-card">
                    <img src="/Images/BeadNecklaceArt.jpg" alt="Beaded necklace">
                    <h3 />
                    <h3>Beaded necklace</h3>
                    <p>
                        This African-style necklace showcases vibrant beads woven
                        into traditional patterns, reflecting the rich heritage of 
                        African craftsmanship. Bold and captivating, it's a timeless 
                        statement piece celebrating African artistry and culture.
                    </p>
                    <p class="price">R249,99</p>
                </div>

                <div class="product-card">
                    <img src="/Images/MudClothEarring.jpg" alt="Mud Cloth Earring" />
                    <h3 />
                        <h3>Mud cloth earring</h3>
                        <p>

                            These African mud cloth earrings are crafted with authentic 
                            fabric featuring traditional patterns and earthy hues. Each 
                            earring exudes cultural charm, drawing inspiration from the 
                            rich heritage of African textile art.
                        </p>
                        <p class="price">R99,99</p>
                </div>

                <div class="product-card">
                    <img src="/Images/AfricanShield.jpg" alt="African Shield" />
                    <h3 />
                    <h3>African Shield</h3>
                    <p>
                        Introducing our authentic African shield, handcrafted with traditional
                        techniques and vibrant colors. Symbolizing strength and heritage, it's
                        a stunning addition to any space, honoring Africa's rich cultural legacy.
                    </p>
                    <p class="R999,99"> </p>
                </div>

                <!-- Additional product cards can be added here -->
            </div>
        </div>
    </main>
</body>